.idea
*.iml
.gradle
.sass-cache/
*.log
.DS_Store
build/
classes/
out/
node_modules/
*.iws
*.ipr
*.ids

# ruby-related [license_finder]
/.bundle/
/vendor/bundle/
*.xml

ci/secrets.yml
ci/concourse/ci-docker-base-image/cf-deploy/
.cf

.pactFocus
/components/emails-v2/dist/
